//font variables
//default font
$body-font: 'Open Sans', sans-serif;
//all title font
$title-font: 'Rajdhani', sans-serif;
//h1 title font
$h1-font: 'Shadows Into Light', cursive;
//footer color
$footerColor: #101038;
//header color
$headerColor: #9c031f;
//couleur de fonds pour auteur, sources etc
$gray: #EBF0EC;


//les mixins
//style des titres h2
@mixin h2Style($color) {
	font-family: $title-font;
	font-weight: 600;
	border-bottom: 1px solid $color;
	padding: 1rem 0;
}
//style des liens dansl'epace personnel
@mixin linkEspacePersonnel {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	padding: 1rem 0;
	background-color: $headerColor;
	color: #fff;
	margin: 1rem 0;
}
//style des fenetres modal
@mixin modal {
	// modal-header
	.header {
		background-color: $headerColor;
		color: #fff;
		button {
			span {
				color: #fff;
			}
		}
	}
	// modal-body
	.body {
		p {
			font-style: italic;
		}
		h2 {
			@include h2Style(#000);
			border-bottom: none;
		}
	}
	// modal-footer
	.footer {
		background-color: $footerColor;
	}
}

html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
ul {
	padding: 0;
}

body {
	font-family: $body-font;
	font-size: 1.6rem;
}
// conteneur
.content {
	width: 80%;
	margin: auto;
}
.breadcrumb-nav {
	margin-top: 7rem;
}

// masquer un élément
.hide {
	display: none;
}
// style pour le nom de l'auteur et la date de publication
.auteur {
	font-style: italic;
	font-size: 1.2rem;
}
// icone favoris
.coeur {
	color: #47eb44;
	font-size: 1.8rem;
}

.title-2 {
	@include h2Style(#000);
}
.title-2-white-line {
	@include h2Style(#fff);
}


// header
header {
	position: relative;
	//background image of header
	background: {
		color: $headerColor;
	}
	//top bar
	.topBar {
		background-color: $footerColor;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 0;
		// suscribe and sign in buttons
		.buttons > a {
			margin: 0 1rem;
			background-color: $footerColor;
			color: rgba(255,255,255,0.9);
			border: 1px solid rgba(255,255,255,0.9);
		}
		//effet au survol des bouttons s'inscrire et se connecter
		.buttons > a:hover {
			background-color: rgba(255,255,255,0.9);
			color: #000;
			border: 1px solid rgba(255,255,255,0.9);
		}
		//user menu
		.userMenu {
			width: 50%;
			display: flex;
			justify-content: flex-end;
			position: relative;

			//boutton d'affichage de l'utilisateur connecté
			.user {
				max-width: 100%;
				overflow: auto;
				margin-right: 0.3rem;
			}
			//liste des items du menu utilisateur. ce bloc est déja mis en position absolute par le css de twitter bootstrap. j'ai ajouté à l'intérieur de la balise html la propriété css left pour mieux le positionner.
			.userMenuItems {
				width: 25rem;
				background-color: $footerColor;
					//chaque link du ser menu
					a {
						border-bottom: 1px solid rgba(255,255,255,0.1);
						padding: 1rem;
						display: inline-block;
						vertical-align: middle;
						width: 100%;
						font-size: 1.6rem;
						color: #fff;
					}
					//effet au survole des liens
					a:hover {
						text-decoration: none;
						color: $footerColor;
					}
					//effet au click des liens
					a:active {
						background-color: #fff;
					}
			}
		}
	}
	//titre h1 du site et le sous titre
	.titleAndSubtitlePc {
		display: none;
	}
	.titleAndSubtitleMobile {
		background-color: #fff;
		color: #000;
		//h1 font-style
		h1 {
			font: {
				family: $h1-font;
				weight: bold;
				size:3rem ;
			}
			margin-bottom: 0;
		}
		text-align: center;
		//paragraph below h1
		.subTitle {
			font-style: italic;
			margin-bottom: 0;
		}
	}
	//nav
	.navParent{
		text-align: center;
		background-color: #fff;
		//bouton hamburger + loop + formulaire de recherche
		.menuBtnMobile {
			display: flex;
			justify-content: space-between;
			padding: 2rem;
			//border-bottom: 1px solid rgba(0,0,0,0.4);
			//hamburger
			.hamburger {
				color: rgba(0,0,0,0.4);
				font-size: 1.6rem;
			}
			//formulaire de recherche sur les mobiles
			.searchMobile {
				//champ text de recherche
				input {
					display: inline-block;
					vertical-align: middle;
					width: 85%;
					outline: .1rem solid rgba(0,0,0,0.4);
					border: none;
				}
				//parent de l'input submit
				div {
					margin-top: .2rem;
					margin-left: .5rem;
					width: 3rem;
					//l'input submit
					input {
						outline-width: 0;
						margin-bottom: .3rem;
					}
				}
			}
			//l'icone search
			.loop {
				color: rgba(0,0,0,0.4);
				font-size: 1.6rem;
				width: 3rem;
				height: 1.8rem;
				margin-top: 0.2rem;
				border-radius: 0.3rem;
			}
		}
		//barre de navigation
		.nav-mobile {
			width: 100%;
			text-align: left;
			//liste du menu
			ul {
				position: absolute;
				width: 90%;
				list-style: none;
				text-align: left;
				background-color: $footerColor;
				z-index: 2000;
				//items de la liste du menu
				li {
					border-bottom: 1px solid rgba(255,255,255,0.1);
					// liens de la liste du menu
					a {
						font-family: $title-font;
						font-size: 2rem;
						padding: 1rem;
						display: inline-block;
						vertical-align: middle;
						width: 100%
					}
				}
			}
		}
		//nav pour pc et ecran large
		.nav-pc {
			display: none;
		}
		//formulaire de recherche sur les pc et écrans larges
		.search {
			display: none;
		}
	}
}

/*home page */
.main-home {
	.home-revue-de-presse {
		margin-bottom: 8rem;
	}
	.home-deco-actu {
		margin-bottom: 8rem;
	}
	.home-debat {
		margin-bottom: 8rem;
	}
}

// button favoris
.favoris {
	text-align: right;
	margin-top: 4rem;
	.btn-favoris {
		background-color: yellow;
		color: black;
		border: 1px solid #fff;
		font-weight: 600;
		font-size: 1.4rem;
	}
}
//erreur de validation de formulaire
.formError {
	font-size: 1.6rem;
	color: rgb(255, 0, 122);
	//text-align: right;

	//error message
	p {
		margin-left: 1.5rem;
	}
}
/*page index de chaque rubrique*/
.main {
	.posts {
		.post{
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		// chaque revue de presse de la lsite
		.post-infos {
			padding: 1rem;
			margin: 1rem 0;
			width: 100%;
			h3 {
				font-size: 1.8rem;
				margin: 0
			}
			.post-image {
				width: 100%;
			}
			
			.btnLecture {
				text-align: right;
			}
		}

		// pagination
		.pagination {
			justify-content: center;
			align-items: center
		}
	}
}
//main page archives
.main {
	.archive {
		table {
			margin: auto;
			width: 100%;
			td {
				padding: 1rem;
				border-top: solid 1px #ccc;
				border-bottom: solid 1px #ccc;
			}
		}
	}
}
//aside
.aside {
	background-color: #fff;
	// chronique
	.chronic {
		padding: 2rem;
		margin: 4rem 0;
		background-color: #93FAAB;
		color: #000;
		// le corps de la chronique
		.chronicContent {
    		line-height: 2;
			.readMore {
				margin-left: 1rem;
			}
		}
	}
	// carousel pour pc et écran large
	.slider {
		display: none;
	}
	//dernièrespublications
	.recent-posts {
		margin-bottom: 4rem ;
		li {
			list-style: none;
		}
	}
	// archives
	.archive {
		margin-bottom: 4rem ;
	}
	// décodeurs
	.decodeur {
		margin-bottom: 4rem ;
		li {
			list-style: none;
		}
	}
	.newsletter {
		margin-bottom: 4rem ;
	}
	.reseaux-sociaux {
		margin-bottom: 4rem ;
		.twitter {
			color: #1da1f2;
			font-size: 3.6rem;
		}
		.facebook {
			color: #4867aa;
			font-size: 3.6rem;
		}
	}
}
// main page singleView
// favoris modal
.fModal {
	@include modal ;
}
.singlePost {
	.auteur {
		img {
			width: 10%;
		}
		background-color: $gray;
		padding: 0.5rem;
	}
	p {
		.avatar {
			width: 8%;
		}
	}
	//corps de l'article
	.postContent {
		line-height: 1.8;
	}
	//les sources de la revue
	.source {
		background-color: $gray;
		padding: 0.5rem;
		h2 {
			font-size: 1.2rem;
		}
		.sourceItems {
			font-size: 1.2rem;
			color: rgba(0,0,0,0.4);
		}
	}
}
//le formulaire de commentaires
.comment {
	margin-top: 4rem;
	textarea {
		width: 100%;
		border: none;
		outline-style: solid;
		outline-color: rgba(0,0,0,0.3);
		background-color: $gray;
	}
	.btn-addPostComment, .btn-addChronicComment {
		text-align: right;
		width: 100%;
		margin-top: 2rem;
	}
}

//les commentaires
.avatar-mini-comment {
	width: 15%;
	border-radius: 100%;
	vertical-align: top;
}
//contenu du commentaire
.commentContent {
	background-color: #fff;
	padding: 1rem;
}
.displayComments {
	margin: 2rem 0;
	.comment-and-reply {
		.comment-block {
			background-color: #ececec;
			padding: 1rem;
			//commentaire parent
			.eachComment {
				border-top: solid 0.1rem #dadada;
				padding: 0.5rem;
				margin: 1rem 1rem 0 1rem;
				display: inline-block;
				width: 75%;
				vertical-align: top;
			}
			//button répondre
			.btnReply {
				text-align: right;
				margin-right: 3rem;
				margin-bottom: 2rem;
			}
			
		}
		//commentaire réponse
		.reply-block {
			padding-left: 5rem;
			//margin-bottom: 2rem;
			.eachReply {
				padding: 0.5rem;
				margin: 1rem;
				display: inline-block;
				width: 75%;
				vertical-align: top;
			}
		}
	}
}


//main page chronicView
.singleChronic {
	.auteur {
		background-color: $gray;
		padding: 0.5rem;
	}
	.chronicContent {
		line-height: 1.8;
	}
}
//main page registerView et loginView
.reset-password-fieldset {
	width: 100%;
	margin: 4rem auto;
	legend {
		font-size: 1.6rem;
		width: 100%;
		text-align: center;
	}
	/*.btn-submit {
		text-align: right;
		margin: 2rem auto;
	}*/
	/*.div-error {
		text-align: right;
	}*/
}
.form {
	background-color: #dadada;
	padding: 1rem;
	margin: 2rem 0;
	/*.label {
		width: 100%;
	}*/
	/*.btnRegister {
		text-align: right;
		margin-top: 1rem;
	}*/
}
// met les labels et input sur la même ligne
/*.label-input {
	display: flex;
	justify-content: space-between;
}*/
// formulaire de profil espace profilView
.profil-form {
	background-color: #fff;
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	//button mal et annuler
	input[type='submit'] {
		margin-top: 2rem;
	}
	.cancel {
		margin-top: 2rem;
	}
	//alignement
	.btn-edit-delete {
		text-align: right;
		margin: 2rem auto;
		padding: 1rem;
		width: 100%;
		//masquer
		.edit-profil, .delete-profil {
			display: none;
		}
	}
	//couler de fonds des inputs
	/*.input {
		background-color: #fff;
		border: none;
		font-size: 1.6rem;
		width: 50%;
	}*/
}
//image de profil
.profil-avatar {
	//positionnement des icons sur l'image de profil
	.avatar-container {
		//width: 20rem;
		padding: 2rem;
		position: relative;
		.icon-edit-img {
			position: absolute;
			top: 2rem;
			left: 13rem;
		}
		.icon-delete-img {
			position: absolute;
			top: 2rem;
			left: 17rem;
		}
	}
}
//titre du formulaire
/*.formTitle {
	@include h2Style(#000);
}*/
//les liens mot de passe oublié et j'ai deja un compte
.formLink {
	font-size: 1.2rem;
	a {
		margin: 0 0.5rem;
		text-decoration: underline;
	}
}
//main page de success
.message {
	margin: 2rem 0;
	
	//texte du message
	div {
		background-color: #dadada;
		padding: 1rem;
	}
}

//main page index de favoris
.indexFavoris {
	margin: 2rem 0;
	text-align: center;
	a {
		@include linkEspacePersonnel();
	}
}
//main favorisView
.aModal {
	@include modal ;
}
/*page debatIndex*/
.debat {
	.person {
		display: none;
	}
}
/*page singleDebatView */
.debat-infos {
	
	.debat-description {
		text-align: left;
		font-style: italic;
		font-weight: 500;
	}
}
.questions-answers {
	margin-bottom: 4rem;
	.question {
		margin-bottom: 2rem;
		border-top: solid 1px black;
		font-weight: bold;
		text-align: left;
	}
	.person-1 {
		margin: 1rem 0;
		.person-1-infos {
			width: 20%;
			text-align: center;
			display: inline-block;
			vertical-align: top;
			img {
				border-radius: 50%;
				width: 100%;
			}
			p {
				display: none;
			}
		}
		.answer-1 {
			width: 75%;
			background-color: lightblue;
			border-radius: 1rem;
			padding: 1rem;
			display: inline-block;
			vertical-align: top;
		}
	}
	.person-2 {
		margin: 1rem 0;
		.person-2-infos {
			width: 20%;
			text-align: center;
			display: inline-block;
			vertical-align: top;
			img {
				border-radius: 50%;
				width: 100%;
			}
			p {
				display: none;
			}
		}
		.answer-2 {
			width: 75%;
			background-color: lightgreen;
			border-radius: 1rem;
			padding: 1rem;
			display: inline-block;
			vertical-align: top;
		}
	}
}

/*footer*/
footer {
	background-color: $footerColor;
	color: #fff;
	text-align: center;
	margin-top: 2rem;
	padding: 2rem;
	.a-propos {
		h3 {
			text-align: left;
		}
		p {
			text-align: justify;
			color: rgba(255,255,255,0.7);
		}
	}
	.nav-footer {
		margin: 4rem 0;
		h3 {
			text-align: left;
		}
		ul > li {
			text-align: left;
			list-style: none;
			a {
				color: rgba(255,255,255,0.7);
			}
		}
	}
	.copyright {
		p {
			font-size: 1.2rem;
			a {
				color: rgba(255,255,255,0.6);
			}
		}
	}
}

/* admin indexImage galery */

.image-galery {
	width: 10rem;
	display: inline-block;
	vertical-align: top;
	margin: 2rem 3%;
	a {
		text-decoration: none;
		img {
			width: 100%;
		}
		p {
			margin: 0;
		}
	}
}

///////////////desktop et ecranlarge////
@media screen and (min-width: 800px) {
	//header
	header {
		background-image: url('/myProjet/webroot/images/web_medias/journaux-entete.jpg');
		background-position: 0 10%;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 315px;
		.topBar {
			justify-content: space-between;
		}
		.title_and_nav {
			position: absolute;
			bottom: -55px;
			width: 100%;
		}
		.titleAndSubtitleMobile {
			display: none;
		}
		.titleAndSubtitlePc {
			display: block;
		    width: 20%;
		    min-width: 254px;
		    background-color: lightblue;
		    padding: 0 1rem;
		    margin-left: 1rem;
			h1 {
				margin: 0;
			}
		}
		.navParent {
			.menuBtnMobile {
			display: none;
			}
			//barre de navigation
			.nav-pc {
				display: block;
				margin: auto;
				width: 100%;
				text-align: left;
				background-color: $footerColor;
				//liste du menu
				ul {
					position: static;
					width: 70%;
					list-style: none;
					text-align: left;
					display: inline-block;
					vertical-align: middle;
					z-index: 0;
					//items de la liste du menu
					li {
						display: inline-block;
						border: none;
						// liens de la liste du menu
						a {
							font-family: $title-font;
							font-size: 2rem;
							color: $gray;
							text-decoration: none;
							padding: 1rem;
							display: inline-block;
							vertical-align: middle;
							width: 100%
						}

					}
					li:hover {
						border-bottom:2px solid yellow;
					}
				}
			}

			//formulaire de recherche sur les pc et écrans larges
			.search {
				padding-left: 2rem;
				display: inline-block;
				width: 25%;
				vertical-align: middle;
				//parent de l'input submit
				div {
					margin-top: .2rem;
					margin-left: .5rem;
					width: 100%;
					//champ text de recherche
					.search-input {
						display: inline-block;
						vertical-align: middle;
						width: 80%;
						border: none;
					}
					//l'input submit
					.submit {
						outline-width: 0;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.main {
		margin-top: 3rem;
	}
	/*home page */
	.main-home {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		margin-right: 1%;
		.home-revue-de-presse {
			p {
				float: right;
				width: 60%;
			}
			img {
				width: 37%;
				margin-right: 2%;
			}
		}
		.home-deco-actu {
			clear: both;
			p {
				float: right;
				width: 60%;
			}
			img {
				width: 37%;
				margin-right: 2%;
			}
		}
		.home-debat {
			clear: both;
			p {
				float: right;
				width: 60%;
			}
			img {
				width: 37%;
				margin-right: 2%;
			}
		}
	}

	//main page index de chaque rubrique
	.main {
		.posts {
			text-align: left;
			.post{
				.post-image {
					width: 76.5%;
					height: 300px;
				}
			}
			// chaque revue de presse de la lsite
			.post-infos {
				h3 {
					font-size: 3.4rem;
				}
			}
			
		}
	}
	.main-index {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		margin-right: 1%;
	}
	.aside {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin-left: 3%;
		margin-top: 3rem;
		.slider {
			display: block;
			margin: 4rem 0;
		}
	}
	//main page singleView et chronicView
	.main-post, .main-chronic {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	//les avatars dans les commentaires
	.avatar-mini-comment {
		width: 7%;
	}
	//le formulaire de commentaires
	.comment {
		margin-top: 4rem;
		textarea {
			width: 100%;
			border: none;
			outline-style: solid;
			outline-color: rgba(0,0,0,0.3);
			background-color: $gray;
		}
		.btn-addPostComment {
			text-align: right;
			width: 100%;
			margin-top: 2rem;
		}
	}
	//le block de commentaire
	.displayComments {
		.moreComments {
			text-align: right;
		}
		.comment-and-reply {
			.comment-block {
				margin: auto;
				text-align: center;
				.eachComment {
					text-align: left;
				}
				
				//button répondre
				.btnReply {
					text-align: right;
					margin-right: 10rem;
				}
			}
			.reply-block {
				padding-left: 15rem;
				.eachReply {
					text-align: left;
				}
			}
		}
	}
	//main page loginView
	.form {
	    margin: 2rem auto;
	    width: 50%;
	}
	// formulaire de profil espace profilView
	.profil-form {
		width: 50%;
		.btn-edit-delete {
			width: 50%;
			.edit-profil, .delete-profil {
				display: inline-block;
			}
			.icon-edit-profil , .icon-delete-profil {
				display: none;
			}
		}
	}
	.profil-avatar {
		width: 50%;
		margin: auto;
	}
	/* teamView et partnersView*/
	.member, .partner {
		display: inline-block;
		width: 20%;
		vertical-align: top;
	}
/*page contactForm*/
.contact-form {
	width: 60%;
	margin: auto;
}
/*page registerView*/
.reset-password-fieldset {
	 width: 55%;
	 legend {
		width: 45%;
		font-size: 1.8rem;
	 }
 }
/*page debatIndex*/
.debat {
	margin: 3rem 0;
	div {
		text-align: center;
	}
	.person {
		display: inline-block;
		width: 15%;
		vertical-align: top;
		img {
			border-radius: 50%;
		}
	}
	.description {
		display: inline-block;
		width: 40%;
		vertical-align: top;
		p {
			text-align: justify;
		}
	}
}
/*page singleDebatView*/
.questions-answers {
	margin-bottom: 4rem;
	.question {
		margin-bottom: 4rem;
	}
	.person-1 {
		margin: 2rem 0;
		.person-1-infos {
			img {
				width: 50%;
			}
			p {
				display: block;
			}
		}
	}
	.person-2 {
		margin: 2rem 0;
		.person-2-infos {
			img {
				width: 50%;
			}
			p {
				display: block;
			}
		}
	}
}
	/*footer*/
	footer {
		.a-propos {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			margin: 0 5%
		}
		.nav-footer {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			margin: 0 5%;
		}
		.copyright {
			margin-top: 4rem;
		}
		.copyright::before {
			content: "";
			display: block;
			width: 80%;
			height: 1px;
			margin: 1rem auto;
			background-color:  rgba(255,255,255,0.3);
		}
	}
}
