//font variables
//default font
$body-font: 'Open Sans', sans-serif;
//all title font
$title-font: 'Rajdhani', sans-serif;
//h1 title font
$h1-font: 'Shadows Into Light', cursive;
//footer color
$footerColor: #101038;
//header color
$headerColor: #9c031f;
//couleur de fonds pour auteur, sources etc
$gray: #EBF0EC;

//les mixins

@mixin h2Style($color) {
	font-family: $title-font;
	font-weight: 600;
	border-bottom: 1px solid $color;
	padding: 1rem 0;
}

@mixin modal {
	// modal-header
	.header {
		background-color: $headerColor;
		color: #fff;
		button {
			span {
				color: #fff;
			}
		}
	}
	// modal-body
	.body {
		p {
			font-style: italic;
		}
		h2 {
			@include h2Style(#000);
			border-bottom: none;
		}
	}
	// modal-footer
	.footer {
		background-color: $footerColor;
	}
}

html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
ul {
	padding: 0;
}
body {
	font-family: $body-font;
	font-size: 1.6rem;
}
// conteneur
.content {
	width: 90%;
	margin: auto;
}
// masquer un élément
.hide {
	display: none;
}
// style pour le nom de l'auteur et la date de publication
.auteur {
	font-style: italic;
	font-size: 1.2rem;
}
// icone favoris
.fa-coeur {
	color: green;
}



// header
header {
	position: relative;
	//background image of header
	background: {
		color: $headerColor;
	}
	//top bar
	.topBar {
		background-color: $footerColor;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		//social icons size
		.socialIcons .fa {
			font-size: 1.6rem;
			margin: 0 1rem;
			color: #ffffff;
		}
		// suscribe and sign in buttons
		.buttons > a {
			margin: 0 1rem;
			background-color: $footerColor;
			color: rgba(255,255,255,0.9);
			border: 1px solid rgba(255,255,255,0.9);
		}
		//effet au survol des bouttons s'inscrire et se connecter
		.buttons > a:hover {
			background-color: rgba(255,255,255,0.9);
			color: #000;
			border: 1px solid rgba(255,255,255,0.9);
		}
		//user menu
		.userMenu {
			width: 50%;
			display: flex;
			justify-content: flex-end;
			//boutton d'affichage de l'utilisateur connecté
			.user {
				max-width: 100%;
				overflow: auto;
				margin-right: 0.3rem;
				position: relative;
			}
			//liste des items du menu utilisateur. ce bloc est déja mis en position absolute par le css de twitter bootstrap. j'ai ajouté à la balise html la propriété css left pour mieux le positionner.
			.userMenuItems {
				width: 25rem;
				background-color: $footerColor;
				//chaque item du userMenu
				li {
					border-bottom: 1px solid rgba(255,255,255,0.1);
					padding: 1rem;
					//chaque link du ser menu
					a {
						display: inline-block;
						vertical-align: middle;
						width: 100%;
						font-size: 1.6rem;
						color: #fff;
					}
					//effet au survole des liens
					a:hover {
						text-decoration: none;
					}
					//effet au click des liens
					a:active {
						background-color: #fff;
					}
				}
			}
		}
	}
	//titre h1 du site et le sous titre
	.titleAndSubtitle {
		background-color: #fff;
		color: #000;
		//h1 font-style
		h1 {
			font: {
				family: $h1-font;
				weight: bold;
				size:3rem ;
			}
			margin-bottom: 0;
		}
		text-align: center;
		//paragraph below h1
		.subTitle {
			font-style: italic;
			margin-bottom: 0;
		}
	}
	//live infos panel
	.flashInfos {
		background-color: $footerColor;
		color: #fff;
		padding: 0.5rem;
		p {
			margin: 0;
		}
	}
	//nav
	.navParent{
		text-align: center;
		background-color: #fff;
		//bouton hamburger + loop + formulaire de recherche
		.menuBtnMobile {
			display: flex;
			justify-content: space-between;
			padding: 2rem;
			//border-bottom: 1px solid rgba(0,0,0,0.4);
			//hamburger
			.hamburger {
				color: rgba(0,0,0,0.4);
				font-size: 1.6rem;
			}
			//formulaire de recherche sur les mobiles
			.searchMobile {
				//champ text de recherche
				input {
					display: inline-block;
					vertical-align: middle;
					width: 85%;
					outline: .1rem solid rgba(0,0,0,0.4);
					border: none;
				}
				//parent de l'input submit
				div {
					margin-top: .2rem;
					margin-left: .5rem;
					width: 3rem;
					//l'input submit
					input {
						outline-width: 0;
						margin-bottom: .3rem;
					}
				}
			}
			//l'icone search
			.loop {
				color: rgba(0,0,0,0.4);
				font-size: 1.6rem;
				width: 3rem;
				height: 1.8rem;
				margin-top: 0.2rem;
				border-radius: 0.3rem;
			}
		}
		//barre de navigation
		nav {
			width: 100%;
			text-align: left;
			//liste du menu
			ul {
				position: absolute;
				width: 90%;
				list-style: none;
				text-align: left;
				background-color: $footerColor;
				z-index: 2000;
				//items de la liste du menu
				li {
					border-bottom: 1px solid rgba(255,255,255,0.1);
					// liens de la liste du menu
					a {
						font-family: $title-font;
						font-size: 2rem;
						padding: 1rem;
						display: inline-block;
						vertical-align: middle;
						width: 100%
					}
				}
			}
		}
		//formulaire de recherche sur les pc et écrans larges
		.search {
			padding-left: 2rem;
			display: none;
			//champ text de recherche
			input {
				display: inline-block;
				vertical-align: middle;
				width: 85%;
				outline: .1rem solid rgba(0,0,0,0.4);
				border: none;
			}
			//parent de l'input submit
			div {
				margin-top: .2rem;
				margin-left: .5rem;
				width: 3rem;
				//l'input submit
				input {
					outline-width: 0;
					margin-bottom: .3rem;
				}
			}
		}
	}
}

/*main page index*/
// .main {
// 	display: inline-block;
// 	width: 63%;
// 	vertical-align: top;
// 	margin: 0 1%;
// }
// /*aside*/
// .aside {
// 	display: inline-block;
// 	width: 33%;
// 	vertical-align: top;
// 	margin: 0 1%;
// }

// button favoris
.favoris {
	text-align: right;
	margin-top: 4rem;
	.btn-favoris {
		background-color: yellow;
		color: black;
		border: 1px solid #fff;
		font-weight: 600;
		font-size: 1.4rem;
	}
}
//erreur de validation de formulaire
.formError {
	font-size: 1rem;
	color: rgb(255, 0, 122);
	//error message
	p {
		margin-left: 1.5rem;
	}
}
.main {
	//background-color: #fff;
	//liste des revues de presse
	.posts {
		h2 {
			@include h2Style(#000);
		}
		// chaque revue de presse de la lsite
		.post {
			padding: 1rem;
			background-color: rgba(184, 15, 30, 0.43);
			margin: 1rem 0;
			.btnLecture {
				text-align: right;
			}
		}
		// pagination
		.pagination {
			justify-content: center;
			align-items: center
		}
	}
}
//aside
.aside {
	background-color: #fff;
	// chronique
	.chronic {
		padding: 1rem;
		margin: 4rem 0;
		background-color: #93FAAB;
		color: #000;
		// titre de la chronique
		h2 {
			@include h2Style(#fff);
		}
		// le corps de la chronique
		.chronicContent {
    		line-height: 2;
			.readMore {
				margin-left: 1rem;
			}
		}
	}
	// carousel pour pc et écran large
	.slider {
		display: none;
	}
	// carousel pour mobile
	.sliderMobile {
		margin-top: 4rem;
	}
	// archives
	.archive {
		h2 {
			@include h2Style(#000);
		}
	}
	// décodeurs
	.decodeur {
		margin-top: 4rem;
		h2 {
			@include h2Style(#000);
		}
	}
}
// main page singleView
// favoris modal
.fModal {
	@include modal ;
}
.singlePost {
	h2 {
		@include h2Style(#000);
	}
	.auteur {
		background-color: $gray;
		padding: 0.5rem;
	}
	p {
		.avatar {
			width: 8%;
		}
	}
	//corps de l'article
	.postContent {
		line-height: 1.8;
	}
	//les sources de la revue
	.source {
		background-color: $gray;
		padding: 0.5rem;
		h2 {
			font-size: 1.2rem;
		}
		.sourceItems {
			font-size: 1.2rem;
			color: rgba(0,0,0,0.4);
		}
	}
}
//le formulaire de commentaires
.comment {
	margin-top: 4rem;
	textarea {
		width: 100%;
		border: none;
		outline-style: solid;
		outline-color: rgba(0,0,0,0.3);
		background-color: $gray;
	}
}

//les commentaires
.displayComments {
	margin: 2rem 0;
	max-height: 100vh;
	overflow: auto;
	//commentaire parent
	.eachComment {
		background-color: $gray;
		padding: 0.5rem;
		margin: 0.5rem;
		border-radius: 1rem;
	}
	//contenu du commentaire
	.commentContent {
		background-color: #fff;
		padding: 1rem;
		border-radius: 1rem;
	}
	//button répondre
	.btnReply {
		text-align: right;
		margin-right: 1rem;
	}
	//commentaire réponse
	.eachReply {
		background-color: $gray;
		padding: 0.5rem;
		margin: 2rem 0  2rem 3rem ;
		border-radius: 1rem;
	}
}
//main page chronicView
.singleChronic {
	h2 {
		@include h2Style(#000);
	}
	.auteur {
		background-color: $gray;
		padding: 0.5rem;
	}
	.chronicContent {
		line-height: 1.8;
	}
}
//main page registerView
.registerForm {
	background-color: #dadada;
	padding: 1rem;
	margin: 2rem 0;
	border-radius: 1rem;
	.btnRegister {
		text-align: right;
	}
}
/*footer*/
footer {
	background-color: #907e7e;
	color: #fff;
	text-align: center;
}
